<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <style>
        body {
            background-color: rgb(255, 255, 255); /* Sets the background color to black */
            color: rgb(0, 0, 0); /* Ensures text is visible on the black background */
            margin: 0;
            font-family: Arial, sans-serif; /* Sets a default font */
        }
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>