<!-- filepath: /d:/School/Current/COSC 304/304_lab7_starter_node/views/index.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'planetbe';
  src: url('/fonts/CAVEMAN_.woff2') format('woff2'),
       url('/fonts/CAVEMAN_.woff') format('woff'),
       url('/fonts/CAVEMAN_.ttf') format('truetype');
}

.float-l{
    float : left
}
.float-r {
  float: right;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: auto; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the header */
.header {

    background: linear-gradient(to bottom, #ffffff, #0a7a74);
    padding: 1px;
    text-align: center;
    font-size: 25px;
    border-bottom: 5px solid #ffffff;

}


/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row:after, .row {
    width: 100%;
    length: 90%;
  }
}
</style>
</head>
<body>
	
 {{#if username}}
<div style = float: right;>
    <span class="float-l">&nbsp;&nbsp;Welcome, {{username.firstName}}!</span>
    <span class="float-r">
        <div style="float: right;"></div>
            <a href="/showcart">Cart</a>&nbsp;&nbsp;
            <a href="/listorder">Orders</a>&nbsp;&nbsp;
            <a href="/customer">Customer Info</a>&nbsp;&nbsp;
            <a href="/logout">Log out</a> 
        </div>
    </span>
</div>

{{else}}

<div></div>
	<span class= "float-l" >Welcome, Guest!</span>
	<span class= "float-r"><a href="/login">Login </a></span>
</div>

{{/if}}

<div class="header">
  <h2 style="font-family: 'planetbe'; text-align: center;">Jersey N Em</h2>
</div>

<div >
  <div style="background-color:#aaa;">
    <img src="/images/WEBIMG/wallp.jpg" alt="KB" style="width:100%; height:auto;">
  </div>

<div style="background: linear-gradient(to bottom, #3b6aa8, #FFFFFF); text-align: center;">BEGIN
        <h4 align="center"><a href="/listProd">Begin Shopping</a></h4>
        <h4 align="center"><a href="/admin">Administrators</a></h4>
</div>
<div class="footer" style="background-color: #FFFFFF;">
    <h2>From the Creators</h2>

    <div class="row"></div>
<div class="column" style="background: linear-gradient(to right, #80afd6, #FFFFFF), linear-gradient(to right, #80afd6, #FFFFFF);">
    <h3>Harper Kersten</h3>
    <img src="/images/WEBIMG/creator1.png" alt="Creator 1" style="width:60%; height:auto;">
    <p> Wsg gang buy our jerseys</p>
  </div>
  <div class="column" style="background: linear-gradient(to left, #80afd6, #FFFFFF);">
    <h3>Aaron Hong</h3>
    <img src="/images/WEBIMG/creator2.png" alt="Creator 1" style="width:60%; height:auto;">
    <p>Low key gotta buy these gang</p>
  </div>
</div>
</div>

</body>
</html>
