<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white; /* Default text color */
}

body {
  background-color: black; /* Set background color to black */
  color: white; /* Set text color to white */
}

@font-face {
  font-family: 'planetbe';
  src: url('/fonts/CAVEMAN_.woff2') format('woff2'),
       url('/fonts/CAVEMAN_.woff') format('woff'),
       url('/fonts/CAVEMAN_.ttf') format('truetype');
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.header {
  background: linear-gradient(to bottom, #000000, #000000); /* Dark gradient for header */
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 35px;
  /*border-bottom: 5px solid #ffffff; */
}

.footer {
  background-color: #000000; /* Darker footer background */
  padding: 10px;
  text-align: center;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000; /* Dark background for navbar */
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.nav-links a {
  text-decoration: none;
  margin-left: 10px;
  color: white; /* White link color */
}

.nav-links a:hover {
  text-decoration: underline;
}
.mainimg {
  text-align: center;
  align-items: center;
  padding: 10px;
}

.mainimg img {
  transition: transform 0.3s ease; /* Smooth transition effect */
}
.mainimg img:hover {
  transform: translateY(-10px); /* Move image 10px upwards */
}

@media (max-width: 600px) {
  .row:after, .row {
    width: 100%;
    length: 90%;
  }
}
</style>
</head>
<body>
<div class="nav-bar">
    <span class="welcome-msg">Welcome, {{#if username}}{{username.firstName}}{{else}}Guest{{/if}}!</span>
    <div class="nav-links">
        {{#if username}}
            <a href="/showcart">Cart</a>&nbsp;&nbsp;
            <a href="/listorder">Orders</a>&nbsp;&nbsp;
            <a href="/customer">Customer Info</a>&nbsp;&nbsp;
            <a href="/admin">Admin Dashboard</a>
            <a href="/logout">Log out</a> 
        {{else}}
            <a href="/admin">Admin Dashboard</a>
            <a href="/login">Login</a>
        {{/if}}
    </div>
</div>

<div class="header">
  <h2 style="font-family: 'planetbe'; text-align: center;">Jersey N Em</h2>
</div>
{{!---
<div>
  <div class= 'mainimg' style="background-color:#222;"> <!-- Slightly lighter black -->
    <img src="/images/WEBIMG/wallp.jpg" alt="KB" style="width:75%; height:auto;">
  </div>
---}}
<div>
  <div class= 'mainimg' style="background-color:#000000;"> <!-- Slightly lighter black -->
   <a href="/listTeam"><img src="/images/WEBIMG/toProduct.png" alt="KB" style="width:75%; height:auto;"></a> 
  </div>

<div class="footer">
    <h2>From the Creators</h2>

    <div class="row"></div>
<div class="column" style="background: linear-gradient(to right, #000000, #000000);">
    <h3>Harper Kerstens</h3>
    <img src="/images/WEBIMG/harper.jpg" alt="Creator 1" style="width:40%; height:auto;">
    <p>2x UBCO Intermediate Basketball All-Star Point Guard, With an unparalleled love for the game Harper is known for his elite vision both on and off the court.</p>
  </div>
  <div class="column" style="background: linear-gradient(to left, #000000, #000000);">
    <h3>Aaron Hong</h3>
    <img src="/images/WEBIMG/creator2.png" alt="Creator 1" style="width:30%; height:auto;">
    <p>2X UBCO Intermediate Basketball 6th Man of the Year, With an elite offensive skill set Aaron is known for his incredible knack for scoring.</p>
  </div>
</div>
</div>

</body>
</html>